NUXT_PUBLIC_API_BASE=http://localhost:8000/api/v1
NUXT_PUBLIC_HEALTH_BASE=http://localhost:8000
NUXT_PUBLIC_MISSION_API_BASE=http://localhost:8000/api/v1
NUXT_PUBLIC_APP_NAME=LTE Scanner
NUXT_PUBLIC_DEFAULT_LAT=-6.150676643667096
NUXT_PUBLIC_DEFAULT_LON=106.89665223346297
